@font-face {
    font-family: "Bodoni Moda Regular";
    src: url("../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Bodoni Moda 72 bold";
    src: url("../fonts/Bodoni_Moda/static/BodoniModa_72pt/BodoniModa_72pt-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Bodoni Moda Italic";
    src: url("../fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Henny Penny";
    src: url("../fonts/Henny-Penny/HennyPenny-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
}