/* Body */
.titleImageSection {
    width: 100%;
}

.titleImageSection img {
    width: 100%;
}

.registerHiring {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-top: 0.5em;
}

.registerHiring img {
    width: 100%;
    padding: 0.5em 0;
}

.handsOnTeaching {
    width: 100%;
    padding-top: 0.5em;
    background-image: url("../images/home-hands-on-teaching.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2200px;
}

.handsOnTeaching {
    width: 100%;
    padding-top: 0.5em;
    background-image: none;
}

.handsOnTeachingText {
    width: 100%;
    padding: 5em 3em;
}

.handsOnTeachingText h2 {
    padding-bottom: 1em;
    font-family: 'Bodoni-Moda';
    font-weight: bolder;
}

.handsOnTeachingText p, .handsOnTeachingText ul {
    padding-bottom: 1em;
}

.offersTitle {
    font-weight: bold;
}

.handsOnTeachingText ul li span {
    text-decoration: underline;
}

.registerButtonContainer {
    text-align: center;
}

.handsOnTeachingText button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #03B1F4;
}

@media only screen and (min-width: 1200px) {
    .handsOnTeaching {
        width: 100%;
        padding-top: 0.5em;
        background-image: url("../images/home-hands-on-teaching.jpeg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 2200px;
    }

    .handsOnTeachingText {
        width: 50%;
        padding: 3em 6em;
    }
}

.locations {
    position: relative;
    width: 100%;
    margin-top: -4px;
}

.locations .bg {
    width: 100%;
}

.locations .map {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.awards {
    padding: 30px 0;
    text-align: center;
}

.awards .awardImages {
    padding-top: 30px;
}

.awards .awardImages .row img {
    width: 100%;
    height: 100%;
}